.bg-secondary{background:#065F44 !important ;}

.btn-outline-light{background:#FE8601 !important
}

.bg-success{background:#FEC047 !important}

.btn-warning{background:light  !important}

.btn-success{background:orange !important
}

.card{box-shadow: 0px 0px 10px 2px grey;}
/*.card{  box-shadow: 10px 10px 5px grey;}*/



.card-header{box-shadow: 0px 0px 10px 2px grey;}

.hg{border-radius: 2% 2%;}

.bis{border-radius: 5% 5% / 5% 5%;}
.btn-alert{ background: orange !important }








.bg-warning{background:#114e2d !important}



#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 240px;
    height: 240;
    margin: -75px 0 0 -75px;
    border: 10px dotted #f3f3f3;
    border-radius: 50%;
    border-top: 16px dotted #00504c;
    border-right: 16px dotted rgb(0, 255, 213);
    border-bottom: 16px dotted #00504c;
    border-left: 16px dotted rgb(0, 255, 213);
    /* border-top: 10px dotted #00504c;
    border-bottom: 10px dotted #00504c; */
    width: 200px;
    height: 200px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  .midle{
    margin-top: 14%;
  }

  .red-text{
    color: red;
  }

  .green-text{
    color: rgb(11, 146, 79);
  }

  .bolde{
      font-weight: bold;
      color: #0c9790;
  }

  .titre-bolde{
      font-weight: bold;
  }






